<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conditionals and Rendering</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app"> <!--the difference between v-if and v-show is that by v-if you remove the element from the DOM, otherwise by v-show you just disable it.-->
    <div>Do you see me?!</div>
    <div v-if="!seen">you do not see me</div>
    <div v-else>Now you see me</div>
    <template v-if="seen">
        <h2>Heading</h2>
        <div>Inside a template</div>
    </template>
    <div v-show="seen">you see me from v-show</div>
    <button @click="seen = !seen"> Switch</button>
    <!-- ******* v-for **********  -->
    <ul>
        <li v-for="(ingredient,index) in ingredients">{{ ingredient}} is on place {{ index }}</li>
    </ul>
    <p>looping from template</p>
    <template  v-for="(ingredient,index) in ingredients">
        <h2>{{ingredient}}</h2>
        <p>{{index}}</p>
    </template>
</div>
<script src="app.js" ></script>
</body>
</html>